<header>
    <nav class="header-nav">
        <a href="/">My Closet</a>
        <ul>
            <li><a href="/authors">Clothes</a></li>
            <li><a href="/authors/new">Add Clothes</a></li>
            <li><a href="/books">Wishlist</a></li>
            <li><a href="/books/new">Calendar</a></li>
          </ul>
    </nav>
</header>