<h2 class="page-header">Add Item</h2>
<form action="" method="POST">
    <%- include('../partials/_form_fields') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/books">Cancel</a>
        <button class="btn btn-primary" type="submit">Add</button>
    </div>
</form>